*{
    margin: 0;
    padding: 0;
}
.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 80px;
    margin: 20px;
}
.heading1{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.menulist{
    display: flex;
    flex-direction: row;
    list-style: none;   
    align-items: center; 
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: black;
}
.menuitem{
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    list-style: none; 
    font-family:"Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;;
      font-size: 20px;
      color: white;
      justify-content: center;
      text-align: center;

}
#login{
    padding: 10px;
    background-color: violet;
    border-radius: 30px;
}
.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
